apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: redcat
  labels:
    app: api
spec:
  selector:
    app: api
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
